%h1 New Task

!= haml :_errors, locals: {task: @task}

%form.form-horizontal(method='post' action='/tasks')
  != haml :_form, locals: {task: @task}
  .from-group.has-feedback
    .controls
      %input.btn.btn-primary(name='commit' type='submit' value='Create')

